## NumPy Exercises

🔸 In this jupyter notebook we'll provied you **41** exercises in **NumPy** library.

🔸 These exercises are directly taken from **quick introduction to NumPy notebook**.

👀 If you get stuck, try searching for question in the following format: `how to do SOMETHING with numpy` and **SOMETHING** is the function you want to use in NumPy.

🤝🏼 This jupyter notebook is designed by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/).

---

🔸 **Q1.** Import `NumPy` as its short name `np`.

🔹 **Answer**

🔸 **Q2.** Create `one-dimensional` NumPy array using `np.array( )` function.

🔹 **Answer**

In [ ]:
one_dim_array

🔸 **Q3.** Create `two-dimensional` NumPy array using `np.array( )` function.

🔹 **Answer**

In [ ]:
two_dim_array

🔸 **Q4.** Create `three-dimensional` NumPy array using `np.array( )` function.

🔹 **Answer**

In [ ]:
three_dim_array

🙋🏽‍♂️ We've created **three different arrays**; `one_dim_array`, `two_dim_array`, `three_dim_array`.

🔸 **Q5.** Find the **shape**, **number of dimensions**, **data type**, **size** and **type** of each array.

🔹 **Answer**

In [ ]:
print(f"Shape of one_dim_array: {}")
print(f"Shape of two_dim_array: {}")
print(f"Shape of three_dim_array: {}")
print('------')
print(f"ndim of one_dim_array: {}")
print(f"ndim of two_dim_array: {}")
print(f"ndim of three_dim_array: {}")
print(f"------")
print(f"data types of one_dim_array: {}")
print(f"data types of two_dim_array: {}")
print(f"data types of three_dim_array: {}")
print(f"------")
print(f"size of one_dim_array: {}")
print(f"size of two_dim_array: {}")
print(f"size of three_dim_array: {}")
print(f"------")
print(f"type of one_dim_array: {}")
print(f"type of two_dim_array: {}")
print(f"type of three_dim-array: {}")

🔸 **Q6.** Import `Pandas` and create a **DataFrame** out of `two_dim_array` you've created.

🔹 **Answer**

In [ ]:
# import 'pandas' here

In [ ]:
my_df

🔸 **Q7.** Create an array of shape **(10, 2)** with only **ones**.

🔹 **Answer**

In [ ]:
ones

🔸 **Q8.** Create an array of shape **(7, 2, 3)** of only **zeros**.

🔹 **Answer**

In [ ]:
zeros

🔸 **Q9.** Create an array within a range of **0** and **100** with **step 3**.

🔹 **Answer**

In [ ]:
my_array1

🔸 **Q10.** Create an array with **20** evenly spaced numbers between **1** and **100**.

🔹 **Answer**

In [ ]:
my_array2

🔸**Q11.** Create a **random** array with numbers between **0** and **10** of size **(7, 2)**.

🔹 **Answer**

In [ ]:
random_array1

🔸**Q12.** Create a **random** array of **floats** between **0** and **1** of shape **(3, 5)**.

🔹**Answer**

In [ ]:
random_array2

---

💡 Set the **random seed** to **7**.

---

🔸 **Q13.** Create a **random** array of numbers between **0** & **10** of **size (4, 6)**

🔹 **Answer**

In [ ]:
random_array3

🔸 **Q14.** Create a random of numbers between **1** & **10** of **size (3, 7)** then save it to a variable (for example `random_array4`).

🔸 Finally, find **the number of unique numbers** within that array.

🔹**Answer**

In [ ]:
random_array4

🔸 **Q15.** Find the value at index of **0** of `random_array4` you've just created.

🔹 **Answer**

🔸 **Q16.** Get the **first 2 rows** of `random_array4` you've just created.

🔹 **Answer**

🔸 **Q17.** Get the **first 2 values** of the **first 2 rows** of the `random_array4`.

🔹 **Answer**

🔸 **Q18.** Create a **random** array of numbers between **0** and **10**, then create an array of **ones**.

🔸 The sizes of **both arrays** is **(4, 6)**. 

🔸 Save them into variables (`random_array5` and `ones`)

🔹**Answer**

In [ ]:
random_array5

In [ ]:
ones

🔸 **Q19.** Add `random_array5` and `ones` together.

🔸 **Q20.** Create another array of **ones** (shape of **(6, 4)**) and try to **add** this `new_ones` array to `random_array5`.

---

👀 When you run the previous cell, It produces the **ValueError**.

---

🔸 **Q21.** Subtract `ones` array from `random_array5` array.

🔹 **Answer**

🔸 **Q22.** Multiply the `random_array5` by `ones` array.

🔹 **Answer**

In [ ]:
# Method one -> using *

In [ ]:
# Methods two -> using np.multiply()

🔸 **Q23.** Take `random_array5` to the power of **2**.

In [ ]:
# Method one -> using **

In [ ]:
# Method two -> using np.square()

🔸 **Q24.** Calculate the **mean** of `random_array5`.

🔹 **Answer**

In [ ]:
# Method one -> np.mean()

In [ ]:
# Method two -> your_array.mean()

🔸 **Q25.** Calculate the **maximum** value of `random_array5`.

🔹 **Answer**

In [ ]:
# Method one -> np.max()

In [ ]:
# Method two -> your_array.max()

🔸 **Q26.** Calculate the **minimum** value of `random_array5`.

🔹 **Answer**

In [ ]:
# Method one -> np.min()

In [ ]:
# Method two -> your_array.min()

🔸 **Q27.** Calculate the **standard deviation** of `random_array5`.

🔹 **Answer**

In [ ]:
# Method one -> np.std()

In [ ]:
# Method two -> your_array.std()

🔸 **Q28.** Find the **variance** of the `random_array5`.

🔹 **Answer**

In [ ]:
# Method one -> np.var()

In [ ]:
# Method two -> your_array.var()

🔸 **29.** Reshape the `random_array5` to **(3, 8, 1)**

🔹 **Answer**

In [ ]:
# Method one -> np.reshape()

In [ ]:
# Method two -> your_array.reshape()

🔸 **Q30.** Transpose `random_array5`.

In [ ]:
# Method one -> np.transpose()

In [ ]:
# Method two -> your_array.T

🔸 **Q31.** Create two arrays of **random integers** between **0** to **10**. 

🔸 one of size **(2, 3)** and  the other of size **(4, 3)**

🔹 **Answer**

In [ ]:
random_int1

In [ ]:
random_int2

🔸 **Q32.** Perform a **dot product** on the `random_int1` and `random_int2`.

🔹 **Answer**

---

👀 When you run the previous cell, It produces the **ValueError**. 

---

🔸 **Q33.** Try fix the previous error using **transpose of one of the arrays**.

🔹 **Answer**

👀 Why this works now? 

🔗 Check out this [link]() to the **documentation of np.dot( )** as well as this [link](https://www.mathsisfun.com/algebra/vectors-dot-product.html) from **Math is fun**.

🔸 **Q34.** Create two arrays of **random integers** between **0** and **10** of the **same** size. 

🔸 Save them into different variables.

🔸 Finally compare them using **>** operator.

🔹 **Answer**

In [ ]:
random_int1

In [ ]:
random_int2

In [ ]:
# Compare here

🔸 **Q35.** Compare the two previous arrays using **>=**.

🔹 **Answer**

🔸 **Q36.** Find which elements of the **first** array are greater than **5**.

🔹 **Answer**

🔸 **Q37.** Which parts of each array are **equal**?

🔹 **Answer**

🔸 **Q38.** Sort `random_int1` that you newly created.

🔹 **Answer**

In [ ]:
# Sort here

In [ ]:
random_int1

🔸 **Q39.** Sort the **indices** of `random_int1` that you newly created

🔹 **Answer**

🔸 **Q40.** Find the **index** of **maximum** value in `random_int2` array.

🔹 **Answer**

🔸 **Q41.** Find the **index** of **minimum** value in `random_int2` array.

🔹 **Answer**

---

### More Resources

🔗 For more  exercises, check out the [NumPy quickstart tutorial](https://numpy.org/doc/stable/user/quickstart.html).

🔗 For more helpful materials, check out the [Stack Overflow page for the top questions and answers for NumPy](https://stackoverflow.com/questions/tagged/numpy?sort=MostVotes&edited=true). Most of the time as you reading the questions you can find usefull functions to learn.

👀 Finally, remeber that the best way to learn something new is **to try it**.

---
<a name='support-me'></a>
### THE END 

🔸 If you want to be in touch with **me** (Ahmad Ahmadi), click this [link](https://t.me/izlearn_support) to be taken to my **Telegram**.

🔸 If you have a **LinkedIn** account, **[this](https://linkedin.com/in/ahmad-ahmadi95/)** is my page I will be happy to have you as my connections.

🔸 Finally using this **[link](https://zarinp.al/454855)**(Iran) and this **[link](https://paylink.payment4.com/fa/izlearn/2572d5b8-9ece-48ba-8014-3192ed9274e2)**(out of Iran) you're able to **donate🎁** and **support** our team. 🤙🏼